div {
    border: black;
    border-style: solid;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: deeppink;
    font-family: 'Ubuntu', sans-serif;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: black;
}

#profile {
    display: flex;
    flex-direction: row;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    justify-content: center;
}

#details {
    display: flex;
    flex-direction: column;
}