div {
    display: flex;
    border: black;
    border-style: solid;
    align-items: center; /* Vertical */
    justify-content: center; /* Horizontal */
}

body {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    font-family: 'Ubuntu', sans-serif;

    /* This applies a min width */
    min-width: 650px; /* TODO make this actually work */
    width: auto !important;
    width: 650px;
}

.button {
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    height: 50px;
    background-color: transparent;
}

.card { /* We Trello now, boys */
    border-radius: 10px;
    flex: 0 0 auto; 
    width: 600px;
    height: 700px;
    align-items: center;
    justify-content: center;
}

#links {
    /* border-radius: 10px; */
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #66bd5c; */
    opacity: 0.5;
    /* Colorzilla does a great job with gradients, but that wasn't the vibe */
}