div {
    display: flex;
    border: black;
    border-style: solid;
    align-items: center; /* Vertical */
    justify-content: center; /* Horizontal */
}

body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
    font-family: 'Ubuntu', sans-serif;

    /* This applies a min width */
    min-width: 650px; /* TODO make this actually work */
    min-height: 100vh;
    width: auto !important;
    width: 650px;
    direction: rtl;
    position: relative;
}

.button {
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    height: 50px;
    background-color: transparent;
}

.card { /* We Trello now, boys */
    border-radius: 10px;
    margin: 45px 45px;
    flex: 0 0 auto; 
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: center;
}

#links {
    /* border-radius: 10px; */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #66bd5c; */
    opacity: 0.5;
    /* Colorzilla does a great job with gradients, but that wasn't the vibe */
}

#content {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    right: 450px;
}

#cards {
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: auto;
    width: 100%;
}

#constant {
    width: 450px;
    min-width: 450px;
    flex-basis: 450px;
    min-height: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}