div {
    border: black;
    border-style: solid;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
}

img {
    border: 5px solid #555;
  }

.button {
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
}

.card { /* We Trello now, boys */
    border-radius: 5px;
    border: #DEF7E1;
    width: 600px;
    height: 700px;
}

#links {
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #66bd5c;
    /* Colorzilla does a great job with gradients, but that wasn't the vibe */
}

#header {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    font-family: 'Ubuntu', sans-serif;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: black;
}

#profile {
    display: flex;
    flex-direction: row;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    justify-content: center;
}

#details {
    display: flex;
    flex-direction: column;
}